<h1>Đây là trang thêm mới</h1>
<form name="form">
    <div>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" ng-model="inputValue.name" required minlength="6">
        <span class="text-danger" ng-if="form.name.$dirty && form.name.$error.required">Tên không được bỏ trống</span>
        <span class="text-danger" ng-if="form.name.$dirty && form.name.$error.minlength">Name không được nhỏ hơn 6 ký tự</span>
    </div>
    <div>
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" ng-model="inputValue.email" required>
        <span class="text-danger" ng-if="form.email.$dirty && form.email.$error.required">Email không được bỏ trống</span>
        <span class="text-danger" ng-if="form.email.$dirty && form.email.$invalid">Email không hợp lệ</span>
    </div>
    <div>
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" name="price" ng-model="inputValue.price" required min="100">
        <span class="text-danger" ng-if="form.price.$dirty && form.price.$error.required">price không được bỏ trống</span>
        <span class="text-danger" ng-if="form.price.$dirty && form.price.$error.min">price không được nhỏ hơn 100</span>
    </div>
    <div>
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" ng-model="inputValue.description" required>
        <span class="text-danger" ng-if="form.description.$dirty && form.description.$error.required">Description không được bỏ trống</span>
    </div>

    <center>
        <button 
            class="btn btn-success mt-2"
            ng-click="onSubmit()"
        >Thêm</button>
    </center>
</form>