<h1>Đây là trang edit</h1>
<form action="">
    <div>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" ng-model="inputValue.name">
    </div>
    <div>
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" ng-model="inputValue.description">
    </div>

    <center>
        <button 
            class="btn btn-success mt-2"
            ng-click="onUpdate()"
        >Cập nhật</button>
    </center>
</form>